<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/>
<meta name="author" content="Arcsin, www.arcsin.se"/>
<link rel="stylesheet" type="text/css" href="default.css"/>
<title>{Pink Sunset}</title>
</head>
<body>
<div class="container">
	<div class="top">
		<div class="header"><h1><a href="index.html">Vive Madrid! Todo lo que buscas en alojamientos! </a></h1></div>
		<div class="menu">
			<a href="index.html">Lorem</a><a href="index.html">Ipsum</a><a href="index.html">Dolor</a><a href="index.html">Sit Amet</a>
		</div>
	</div>

	<div class="content">
			{% block content %} {% endblock %}
		  
	</div>

	<div class="footer">&copy; 2006 <a href="index.html">Sitename.com</a>. Design by <a href="http://www.arcsin.se">Arcsin</a></div>
</div>
</body>
</html>
